.contener {
        width: 80%;
        height: 100%;
        text-align: center;
        margin: 9% 5% 14% 10%;
        @media screen and (max-width: 1400px) {
            margin: 14% 5% 23% 10%;
        }
        @media screen and (max-width: 768px) {
            margin: 33% 5% 23% 10%;
        }

	//box-shadow: 20PX 20PX 30PX 20PX rgba(0,0,0,0.05);
	p {
		padding: 7%;
		font-size: 22PX;
	    box-shadow: 20PX 20PX 30PX 20PX rgba(0,0,0,0.10);
   
        @media screen and (max-width: 768px) {
            margin: 15% -2% 23% 0%;
            font-size: 19PX;

        }
	}
   
}
