.contener {
        width: 80%;
        height: 100%;
        text-align: center;
        margin: 5% 5% 5% 10%;
	//box-shadow: 20PX 20PX 30PX 20PX rgba(0,0,0,0.05);
	p {
		padding: 5% 5% 5% 5%;
		font-size: 22PX;
	    box-shadow: 20PX 20PX 30PX 20PX rgba(0,0,0,0.10);
    @media screen and (max-width: 991px) {
        font-size: 19PX;
        margin-top: 20%;

    }
	}
}
