.wrapper {
	display: flex;
}
.card {
	width: 390px;
	height: 200px;
	border-radius: 15px;
	padding: 1.5rem;
	background: white;
	position: relative;
	display: flex;
	align-items: flex-end;
	transition: 0.4s ease-out;
	box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    @media screen and (max-width: 991px) {
        width: 280px;
	height: 130px;
    padding: 1rem;
    }
	&:hover {
		//transform: translateY(20px);
		&:before {
			opacity: 1;
		}
		.info {
			opacity: 1;
			transform: translateY(0px);
		}
	}
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		border-radius: 15px;
		background: rgba(0, 0, 0, 0.6);
		z-index: 2;
		transition: 0.5s;
		opacity: 0;
	}
	img {
		width: 100%;
		height: 100%;
		-o-object-fit: cover;
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 15px;
	}
	.info {
		position: relative;
		z-index: 3;
		color: white;
		opacity: 0;
		transform: translateY(30px);
		transition: 0.5s;
		h1 {
			margin: 0px;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			line-height: 30px;    
			max-height: 75px;     
			-webkit-line-clamp: 2; 
			-webkit-box-orient: vertical;
			@media screen and (max-width: 991px) {
				font-size: 20px;
				line-height: 18px;
    			max-height: 36px;
            }
		}
		p {
			padding-bottom: 13px;
			color: lavender;
			letter-spacing: 1px;
			font-size: 15px;
			margin-top: 8px;
			
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			line-height: 16px;    
			max-height: 32px;     
			-webkit-line-clamp: 2; /* Write the number of 
									  lines you want to be 
									  displayed */
			-webkit-box-orient: vertical;
            @media screen and (max-width: 991px) {
                font-size: 12px;
                margin-top: 3px;
            }
		}
		button {
			padding: 0.6rem;
			outline: none;
			border: none;
			border-radius: 3px;
			background: white;
			color: black;
			font-weight: bold;
			cursor: pointer;
			transition: 0.4s ease;
			margin-top: 10px;
            @media screen and (max-width: 991px) {
                padding: 0.4rem;
				margin-top: 4px;
				margin-bottom: -12px;
            }
			&:hover {
				background: dodgerblue;
				color: white;
			}
		}
	}
}

.swiper-wrapper{
	padding: 10PX;
	.swiper-slide{
			width: 390px !important;
   			 margin-right: 10px!important;
			@media screen and (max-width: 991px) {
				width: 280px !important;
   			 margin-right: 5px!important;
            }
	} 
}
